
.container{
    width: 90%;
    margin:0 auto;
    font-family: 'Nunito', sans-serif;
}
.container_content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border-bottom: 1px solid #dedede;
}
.container_content img{
    width: 25px;
    margin-right:10px;
}
.searchIconFa{
    width: 25px;
    color: #00a86b;
}
.shoppingIconFa{
    margin-right: 10px;
    color:white
}
.searchInput {
    outline: none; /* Убираем свечение в Chrome и Safari */
    vertical-align: middle; /* Выравнивание по середине */
    width:100%;
    border: 1px solid #dedede;
    height: 30px
   }
.searchIcon {
    position: absolute;
    border: none; /* Убираем рамку */
    background: none;
    right: 0px;
    top: 2px;

    /* background: url('../../img/search.png') no-repeat 50% 50%; Параметры фона */
   }
.btn{
    border: none;
    background: #00a86b;
    color:white;
    padding:12px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    transition-duration: 0.4s;
    border:1px solid #00a86b;
}
.btn:hover{
    border:1px solid #00a86b;
    background: none;
    color:#00a86b
}
.shoppingCartBtn{
  float: right;
    color:white;
    margin-left: 20px;
    border: none;
    background-color: #00a86b;
    padding:13px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.logoBlock{
    width: 20%;
}
.searchBlock{
    width: 40%;
    height: 30px;
    position: relative;
}
.containerSearch{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top: 40px;
    align-items: center;
}
/* .menuBlock{
    margin-top: 30px;
    min-height: 50px;
    position: relative;
    display: block;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 17px 11px -21px rgb(0 0 0 / 75%);
    background: #fff;
}
.menuUl{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}
nav ul{
    list-style: none;
    padding:2px
}

nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
  }
  .menuUl > li {
    float: left;
    position: relative;
    
  }
  .menuUl > li:first-child {border-left: 0;}
  .menuUl > li > a {  
    padding: 5px 10px;
    letter-spacing: 1px;
  }
  .menuUl > li > a.active, 
  .submenu a:hover {color: #00a86b;}
  .menuUl .fa, 
  .submenu .fa {
    margin-left: 5px;
    color: inherit;
  }
  .menuUl a:hover {color: #00a86b;}
  .submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-bottom: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;  
  }
  nav ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .submenu li {position: relative;}
  .submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
  }
  .submenu .submenu {
    position: absolute;     
    left: 100%;
    top: -1px;
    transition: .3s linear;
  }
  nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  } */
.submenuForMobile{
    opacity: 1 ;
}
.submenuForMobile2{
    display:block!important;
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
    width: 10%!important;
    float:left;
}
  .submenu {
    display:block!important;
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: #fff;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;  
    width: 10%!important;
    float:left;
    margin:0!important;
    padding:0!important;
    border: 1px solid #CBCBCC;
   
  }
  .submenu li {
      position: relative;
    background: white;
      margin: 10px!important;

  }
  .submenu li a {
    color: #282828;

    font-size: 13px!important;
  }
  hr{
    height: 1px;
  }
  .iconBlockArrow{
      display: inline-block;
  }
  .iconBlock{
    border-left: 1px solid #CBCBCC;
    padding-left: 7px;
  }
  .whatsIcon{
    color:#2d2d2d;
    font-size: 19px!important;
    margin-right: 5px;
  }
  .instaIcon{
    color:#2d2d2d;
    font-size: 19px!important;
    margin-right: 5px;
  }
  .instaIcon:hover{
    color:#00a86b;
  }
  .whatsIcon:hover{
    color:#00a86b;
  }
  .submenu .submenu {
    position: absolute;     
    left: 100%;
    top: -1px;
    transition: .3s linear;
  }
  nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
    display:block!important;

  }
  .header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 17px 11px -21px rgb(0 0 0 / 75%);
    background: #fff;
    margin-top:20px;
  }
  .slider ul{
    width: 100%;
    transition: 1s ease;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .slider a:hover{
    color:#00a86b;
  }
  .slider ul li {
    margin-block: .5rem;
    margin-inline: 2rem;
    list-style: none;

  }
  .slider ul li a{
    font-size: 18px;
    text-decoration: none;
    color:black;
  }
  .menuIcon .menu{
    display: none;
    background:#00a86b;
    color:#fff;
    font-size:40px;
    cursor: pointer;
  }
  .closed {
    display:none;
   justify-content: flex-start;
    width: 100%;
    color:#00a86b;
    font-size:40px;
  }
  .close {
    font-size:40px;
  }
 

@media (max-width:900px){
  .container_content{
    justify-content: flex-start;
  }
    .svgIcon{
        color:#fff;
    }
  .shoppingCartBtn{
    position:absolute;
    top:0;
    right: 0;
  }
  .slider{
    position: fixed;
    min-width: 100%;
      min-height: 100%;
    top:0;
      bottom:0;
      overflow-y:scroll;
      overflow-x:hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    left:-100%;
    background-color: #00a86b;
    transition: 1s ease;
      z-index: 999;
  }
  .slider.active{
      overflow-y:hidden;

    left:0;
    transition: 1s ease;
  }
  nav li:hover > .submenu {
    opacity: 0;
  }
  .slider ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
    margin:0px;
    box-sizing:border-box;
  }
  .slider ul li {
    margin-block: 1.5rem;
    list-style: none;

  }
  .slider ul li a{
    font-size: 25px;
    text-decoration: none;
    color:#fff;
  }
  .slider a:hover{
    color:#fff;
  }
  .menuIcon .menu{
    display: block;
    background:#00a86b;
    color:#fff;
    font-size:35px;
    padding:4px;
    border-radius: 8px;
    cursor: pointer;
  }
  .closed {
    display:flex;
   justify-content: flex-start;
    width: 100%;
    color:#fff;
  }
  .close {
    font-size:40px!important;
  }
  .logoBlock{
    width: 45%;
    text-align: center;
  
  }
  .searchBlock{
    width: 80%;
  }

}