*{
  /* padding:0px;
  margin:0px; */
  box-sizing:border-box;
  font-family: "Nunito";
}

body{
  padding:0px;
  margin:0px;
  font-family: 'Nunito', sans-serif;
  background: #fcfcfc;
}

.container{
  width: 80%;
  margin:0 auto;
  font-family: 'Nunito', sans-serif;
}
@media (max-width:900px){
  .container{
    width: 95%;
  }
}




